.btn {
    border-radius: $border-radius;
    height: 50px;
    text-transform: uppercase;
}

.btn-primary {
    color: $color-black;
    &:hover, &:active {
        color: $color-black;
        border-color: $color-black !important;
    }
}

.btn-secondary {
    &:hover, &:active {
        border-color: $color-black;
    }
}

.selection {
    .btn {
        border: $border-thickness solid $color-black;
    }
}