#gameBoard {
    display: grid;
    grid-template-columns: 10% 60% 10% 20%;
    width: 100%;
    border: 2px solid #000000;
    margin: auto;
    margin-top: 5px;
    background-color: silver;
    z-index: 2;
    box-sizing: border-box;
    border-radius: $border-radius;
    overflow: hidden;
}

.guesses {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
  }
  
  .guesses-dot {
    border: 3px solid black;
    background-color: white;
    height: 30px;
    width: 30px;
    border-radius: 50%;
  }

  .col-guess {
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .game-board_actions-buttons {
      display: flex;
      flex-direction: column;
      .btn {
          height: 50%;
          width: 100%;
          border-radius: 0;
      }
      .icon {
        width: 40px;
        height: auto;
        object-fit: contain;
      }
  }


@include media-breakpoint-up(lg){
    .guesses-dot {
        height: 80px;
        width: 80px;
    }
    .game-board_actions-buttons {
        .icon {
            width: 80px;
            height: auto;
            object-fit: contain;
        }
    }
}