$border-radius: 12px;
$border-thickness: 4px;

$color-blue: #648FFF;
$color-purple: #4B0092;
$color-green: #1AFF1A;
$color-orange: #FE6100;
$color-black: #000000;

$primary: $color-green;
$secondary: $color-purple;
$color-primary: $color-green;
$color-secondary: $color-purple;